<h1><%= titleForm %></h1>
<form>
    <input type="text" name="task" id="task" placeholder="Insira uma tarefa" value="<%= value %>">
    <button id="<%= idBtn %>" type="button"><%= nameBtn %></button>
</form>